# Railway Incidents Data - Grouping Data

## This script contains the following:
1. Importing Libraries
2. Importing Data
3. Checking Data
4. Grouping Data

# 1. Importing Libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

# 2. Importing Data

In [2]:
# Project folder path
path=r'C:\Users\maryn\Documents\Data Projects\Railway Incidents Data'

In [3]:
# Import dataset RID_clean_1.csv
df = pd.read_csv(os.path.join(path,'02 Data', 'Prepared Data', 'RID_clean_1.csv'), index_col = False)

# 3. Checking Data

In [4]:
df.head()

,Unnamed: 0,reporting_railroad_code,railroad_name,year,accident_id,month,accident_type,state,fra_district,train_speed,temperature,visibility,weather_condition,has_passengers,damage_cost,persons_killed,persons_injured
0,0,NICD,Northern Indiana Commuter Transportation District,2017,N1700013,6,Derailment,ILLINOIS,4,10.0,65.0,Day,Clear,Yes,0.0,0.0,0.0
1,1,NIRC,NORTHEAST ILLINOIS REGIONAL COMMUTER RAIL CORP...,2017,201707188,6,Derailment,ILLINOIS,4,0.0,65.0,Day,Clear,Unknown,0.0,0.0,0.0
2,2,CR,Conrail,1981,0420001,4,Side collision,NEW YORK,1,0.0,28.0,Day,Snow,No,0.0,0.0,0.0
3,3,IC,Illinois Central Railroad Company,2007,543854,1,Derailment,LOUISIANA,5,4.0,56.0,Day,Cloudy,No,0.0,0.0,0.0
4,4,IC,Illinois Central Railroad Company,2017,938223,10,Hwy-rail crossing,ILLINOIS,4,0.0,66.0,Dark,Clear,No,0.0,0.0,1.0

In [5]:
# Drop the 'Unnamed: 0' column
df.drop(columns=['Unnamed: 0'], inplace=True)

In [6]:
df.head()

,reporting_railroad_code,railroad_name,year,accident_id,month,accident_type,state,fra_district,train_speed,temperature,visibility,weather_condition,has_passengers,damage_cost,persons_killed,persons_injured
0,NICD,Northern Indiana Commuter Transportation District,2017,N1700013,6,Derailment,ILLINOIS,4,10.0,65.0,Day,Clear,Yes,0.0,0.0,0.0
1,NIRC,NORTHEAST ILLINOIS REGIONAL COMMUTER RAIL CORP...,2017,201707188,6,Derailment,ILLINOIS,4,0.0,65.0,Day,Clear,Unknown,0.0,0.0,0.0
2,CR,Conrail,1981,0420001,4,Side collision,NEW YORK,1,0.0,28.0,Day,Snow,No,0.0,0.0,0.0
3,IC,Illinois Central Railroad Company,2007,543854,1,Derailment,LOUISIANA,5,4.0,56.0,Day,Cloudy,No,0.0,0.0,0.0
4,IC,Illinois Central Railroad Company,2017,938223,10,Hwy-rail crossing,ILLINOIS,4,0.0,66.0,Dark,Clear,No,0.0,0.0,1.0

In [7]:
df.shape

(210666, 16)

# 4. Grouping Data

In [8]:
# Grouping data by year and state
agg_df = df.groupby(['year', 'state']).size().reset_index(name='accident count')

In [9]:
agg_df.head()

   year       state  accident count
0  1975     ALABAMA             235
1  1975      ALASKA              15
2  1975     ARIZONA              58
3  1975    ARKANSAS             152
4  1975  CALIFORNIA             237

In [10]:
# Exporting agg_df in csv format
agg_df.to_csv('grouped_accidents_year_state.csv', index=False)

In [11]:
# Grouping data by year and month
agg_df_month = df.groupby(['year', 'month']).size().reset_index(name='accident count')

In [12]:
# Exporting agg_df_month in csv format
agg_df_month.to_csv('grouped_accidents_year_month.csv', index=False)

In [13]:
# Grouping data by year and visibility
agg_df_visibility = df.groupby(['year', 'visibility']).size().reset_index(name='accident count')

In [17]:
# Exporting agg_df_visibility in csv format
agg_df_visibility.to_csv('grouped_accidents_year_vis.csv', index=False)

In [18]:
# Grouping data by year and weather_condition
agg_df_weather = df.groupby(['year', 'weather_condition']).size().reset_index(name='accident count')

In [20]:
# Exporting agg_df_weather in csv format
agg_df_weather.to_csv('grouped_accidents_weather.csv', index=False)